body {
  background-color: #362c1e;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  /* margin-top: 60px; */
  margin-top: 30px;
  display: flex;
  /* flex-wrap: row; */
  flex-direction: wrap;
  width: 100%;
  text-align: center;
}

/* Header */

.header {
  width: 300px;
  z-index: 1;
  text-align: center;
  height: 100%;
  position: fixed;
  background-color: #362c1e;
  top: 0;
  left: 0;
  overflow: scroll;
  transition: transform 0.3s;
}

.header.mobile {
  transform: translateX(-100%);
}

.header.open {
  transform: translateX(0);
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu-icon .bar,
.menu-icon .bar-close {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s;
}

.menu-icon .bar-close {
  height: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  background: none;
  padding: 0;
  margin-left: 280px;
}

.header img {
  width: 152px;
  height: 130px;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  transition: flex-grow 0.3s;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 15px;
  transition: color 0.3s;
  margin-bottom: 20px;
  margin-top: 20px;
}

nav ul li:hover {
  flex-grow: 5;
  transform: scale(1.1);
}

nav ul li a:hover {
  color: #666;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5%;
  position: absolute;
  width: 80px;
  z-index: 1;
  margin-top: 0px;
  left: 100%;
  top: 0;
  transform: translateX(-10px);
}

.dropdown-content li {
  top: 0px;
  flex-grow: 1;
}

.dropdown-content li a {
  padding: 0px 0px;
  color: #333;
  font-size: 1.1em;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: flex;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .header {
    transform: translateX(-100%);
  }

  .header.open {
    transform: translateX(0);
  }

  .menu-content.mobile {
    display: flex;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    padding: 10px;
    margin: 5px 0;
  }

  .dropdown-content {
    position: static;
    transform: none;
    width: 100%;
  }

  .dropdown-content li a {
    padding: 10px;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
}

.social-links a {
  color: white;
  font-size: 1.4em;
  margin: 0 20px;
}

.social-links a:hover {
  color: #666;
  transform: scale(1.3);
}

.email {
  color: #333;
  margin-top: 10px;
}

/* Homepage */
.Homepage_header {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.Homepage_header p {
  font-size: 2em;
  color: white;
  margin: 0px;
}

.main-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 300px;
  margin-right: 50px;
  flex-direction: column;
  top: 0px;
}

.carousel-wrapper {
  margin: 20px;
  width: 100%;
  position: relative;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 15px;
  right: 15px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  color: #362c1e;
  border-radius: 5px;
  padding: 20px;
}

.hero-text h1 {
  margin: 0;
  font-size: 15px;
}

.hero-text p {
  margin: 5px 0 0;
  font-size: 14px;
}

.carousel .slide {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1%;
}

.carousel .slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  outline: 2px solid rgba(255, 255, 255, 0.7);
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  z-index: 2;
  color: #666;
}

.carousel-arrow-prev,
.carousel-arrow-next {
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-arrow-prev {
  left: 15px;
}

.carousel-arrow-next {
  right: 15px;
}

.carousel .carousel-status {
  display: none;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .main-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    margin-top: 20px;
  }

  .hero-text {
    bottom: 20px;
    left: 10px;
    right: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    color: #362c1e;
    border-radius: 5px;
  }

  .hero-text h1 {
    font-size: 10px;
  }

  .hero-text p {
    font-size: 9px;
  }

  .carousel-arrow {
    font-size: 1.5em;
  }

  .carousel-arrow-prev,
  .carousel-arrow-next {
    top: 50%;
    transform: translateY(-50%);
  }

  /* Hide arrows and dots when the header is above the carousel */
  .carousel-arrow,
  .carousel .carousel-status {
    display: none;
  }

  .carousel .control-dots {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero-text {
    bottom: 15px;
    left: 5px;
    right: 5px;
    padding: 10px;
    margin-top: 20px;
  }

  .hero-text h1 {
    font-size: 10px;
  }

  .hero-text p {
    font-size: 9px;
  }

  .carousel-arrow {
    font-size: 1.2em;
  }

  .carousel-arrow-prev,
  .carousel-arrow-next {
    top: 50%;
    transform: translateY(-50%);
  }

  /* Hide arrows and dots when the header is above the carousel */
  .carousel-arrow,
  .carousel .carousel-status {
    display: none;
  }

  .carousel .control-dots {
    display: none;
  }
}

@media (min-width: 769px) {
  .carousel-arrow {
    display: block;
  }

  .carousel .carousel-status {
    display: none;
  }
}

/* About */

.about {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 50px;
  display: block;
}

.about p {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background: rgba(255, 255, 255, 0.7);
  /* flex-wrap: wrap; */
}

.content p {
  text-decoration: none;
  color: #362c1e;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.images {
  display: flex;
  flex-direction: column;
}

.images img {
  width: 300px;
  height: 200px;
  margin: 20px;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .about {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .content {
    flex-direction: column;
    margin: 10px;
  }

  .content p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
  }

  .images img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .about p {
    font-size: 1.2em;
  }

  .content p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9em;
  }

  .images img {
    width: 100%;
    height: auto;
    margin: 5px 0;
  }
}

/* Works */

.container-category {
  display: flex;
  flex-direction: column;
  color: black;
  margin-left: 430px;
  align-items: center;
}

.container-category p {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  font-family: Arial, sans-serif;
  text-align: center;
}

.works {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Create a flexible grid with 3 columns */
  gap: 10px; /* Adjust gap between items */
  padding: 20px;
  margin-top: 30px;
  margin-right: 0px;
  background: rgba(255, 255, 255, 0.7);
  width: 80%;
  height: 80%;
}

.work-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-item.large {
  grid-column: span 2;
  grid-row: span 2;
}

.work-item.medium {
  grid-column: span 2;
  grid-row: span 1;
}

.work-item.small {
  grid-column: span 1;
  grid-row: span 1;
}

.work-item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* Removed border-radius to match image size */
}

.work-item:hover .work-overlay {
  opacity: 1;
}

.work-details {
  text-align: center;
}

.work-details p {
  margin: 5px 0 0;
  color: white;
  font-size: small;
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
  .container-category {
    margin-left: 0;
    width: 100%;
    padding: 0 10px;
  }

  .works {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Change to 2 columns for medium screens */
    width: 100%;
  }

  .container-category p {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .works {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Change to 1 column for small screens */
  }

  .container-category p {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .works {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Maintain 1 column for extra small screens */
  }

  .container-category p {
    font-size: 1em;
  }

  .work-details p {
    font-size: smaller;
  }
}

/* Painting */

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; Prevent scrolling */
  /* background-color: black; */
}

.painting-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribute space between header, image, and footer */
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
}

.header-controls,
.footer-controls {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000; /* Ensure it stays on top */
  position: absolute; /* Fix position */
}

.header-controls {
  top: 0;
  height: 20px;
}

.footer-controls {
  bottom: 0;
}

.header-controls .zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000; /* Ensure it stays on top */
}

.header-controls .painting-index {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  z-index: 1000; /* Ensure it stays on top */
  font-size: 15px;
}

.painting-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  z-index: 1000; /* Ensure it stays on top */
}

.painting-navigation .nav-left {
  position: absolute;
  left: 20px;
  cursor: pointer;
  padding: 10px;
}

.painting-navigation .nav-right {
  position: absolute;
  right: 20px;
  cursor: pointer;
  padding: 10px;
}

.painting-image {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  border: 1px solid black;
  z-index: 500; /* Ensure it is behind controls */
  object-fit: contain; /* Ensure image fits within its container */
  margin-top: 40px;
}

.painting-details {
  text-align: center;
  color: white;
  z-index: 1000; /* Ensure it stays on top */
}

.painting-details p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.painting-details a {
  color: #999;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.painting-details a:hover {
  text-decoration: underline;
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
  .header-controls .zoom-controls {
    top: 5px;
    right: 5px;
  }

  .header-controls .painting-index {
    top: 5px;
    font-size: 14px;
  }

  .painting-navigation .nav-left,
  .painting-navigation .nav-right {
    font-size: 20px;
  }

  .painting-image {
    max-width: 90%;
    max-height: 70%;
  }

  .painting-details p {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .header-controls .zoom-controls {
    top: 5px;
    right: 5px;
  }

  .header-controls .painting-index {
    top: 5px;
    font-size: 12px;
  }

  .painting-navigation .nav-left,
  .painting-navigation .nav-right {
    font-size: 18px;
  }

  .painting-image {
    max-width: 95%;
    max-height: 65%;
  }

  .painting-details p {
    font-size: 9px;
  }
}

@media (max-width: 480px) {
  .header-controls .zoom-controls {
    top: 2px;
    right: 2px;
    margin-top: 20px;
    font-size: 14px;
  }

  .header-controls .painting-index {
    top: 2px;
    font-size: 14px;
    margin-top: 20px;
  }

  .painting-navigation .nav-left,
  .painting-navigation .nav-right {
    font-size: 16px;
  }

  .painting-image {
    max-width: 100%;
    max-height: 60%;
  }

  .painting-details p {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

/* Contact */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 50px;
  width: 80%;
}

.contact-container p {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  font-family: Arial, sans-serif;
}

.contact-square {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.7);
  padding: 25px;
  margin: 50px 100px 100px;
  align-items: center;
}

.contact-info {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 50px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 1em;
  margin-bottom: 30px;
  color: #362c1e;
}

.contact-form {
  /* width: 100%; */
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 50px;
  font-size: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cead35; /* Adjust border color */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.contact-form button {
  padding: 10px;
  border: none;
  background-color: #cead35;
  color: #362c1e;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

.contact-form button:hover {
  background-color: #a78b28;
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
  .contact-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 20px;
  }

  .contact-square {
    flex-direction: column;
    margin: 50px 20px;
  }

  .contact-info {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-form {
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .contact-container p {
    font-size: 1.2em;
  }

  .contact-info p {
    font-size: 0.9em;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9em;
  }

  .contact-form button {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .contact-container p {
    font-size: 1em;
  }

  .contact-info p {
    font-size: 0.8em;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.8em;
  }

  .contact-form button {
    font-size: 0.8em;
  }
}

/* Footer */

.footer {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000; /* Ensure it stays on top */
  bottom: 0;
  font-size: 12px;
  margin-left: 150px;
  background-color: #362c1e; /* Add a background color for better visibility */
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .footer {
    margin-left: 0;
    font-size: 11px;
  }

  .footer-container {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .footer {
    margin-left: 0;
    font-size: 10px;
  }

  .footer-container {
    padding: 5px;
  }
}
/* AdminPage */

.admin-container {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  color: #333;
}

.admin-form,
.admin-edit-form,
.env-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.admin-edit-form {
  margin-top: 20px;
}

.admin-form input,
.admin-form textarea,
.admin-form select,
.admin-edit-form input,
.admin-edit-form textarea,
.admin-edit-form select,
.env-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #6b6a6a;
}

.admin-form button,
.admin-edit-form button,
.env-form button {
  padding: 10px;
  background-color: #cead35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.admin-form button:hover,
.admin-edit-form button:hover,
.env-form button:hover {
  background-color: #a78b28;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Adjusted for smaller images */
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-thumbnail {
  width: 100px; /* Set specific width for thumbnails */
  height: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s;
}

.image-thumbnail:hover {
  transform: scale(1.05);
}

.image-preview {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.homepage-button {
  display: block;
  margin: 10px auto 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.homepage-button:hover {
  background-color: #218838;
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
  .admin-container {
    width: 90%;
    padding: 15px;
  }

  .image-thumbnail {
    width: 80px;
  }

  .image-preview {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .admin-container {
    width: 95%;
    padding: 10px;
  }

  .admin-form input,
  .admin-form textarea,
  .admin-form select,
  .admin-edit-form input,
  .admin-edit-form textarea,
  .admin-edit-form select,
  .env-form input {
    font-size: 14px;
  }

  .admin-form button,
  .admin-edit-form button,
  .env-form button {
    font-size: 14px;
  }

  .image-thumbnail {
    width: 70px;
  }

  .image-preview {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .admin-container {
    width: 100%;
    padding: 5px;
  }

  .admin-form input,
  .admin-form textarea,
  .admin-form select,
  .admin-edit-form input,
  .admin-edit-form textarea,
  .admin-edit-form select,
  .env-form input {
    font-size: 12px;
    padding: 8px;
  }

  .admin-form button,
  .admin-edit-form button,
  .env-form button {
    font-size: 12px;
    padding: 8px;
  }

  .image-thumbnail {
    width: 60px;
  }

  .image-preview {
    width: 100px;
  }

  .homepage-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Login */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh; /* Ensure it covers the full viewport height */
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add slight shadow for better visibility */
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  padding: 10px;
  background-color: #cead35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #a78b28;
}

.error {
  color: red;
  margin-top: 10px;
}

.login-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.login-links button {
  padding: 5px 10px;
  background-color: #cead35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.login-links button:hover {
  background-color: #a78b28;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .login-form {
    width: 100%;
    padding: 15px;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
  }

  .login-links button {
    font-size: 13px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  .login-form {
    width: 100%;
    padding: 10px;
  }

  .login-form input,
  .login-form button {
    font-size: 12px;
    padding: 8px;
  }

  .login-links {
    flex-direction: column;
    align-items: center;
  }

  .login-links button {
    font-size: 12px;
    padding: 5px 8px;
  }
}
