body {
  background-color: white;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 60px;
  display: flex;
  /* flex-wrap: row; */
  flex-direction: wrap;
  width: 100%;
  text-align: center;
}

/* Header */

.header {
  width: 600px;
  z-index: 1;
  text-align: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.header img {
  width: 257px;
  height: 221px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  transition: flex-grow 0.3s;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 2.5em;
  display: block;
  padding: 15px;
  transition: color 0.3s;
  margin-bottom: 50px;
  margin-top: 50px;
}

nav ul li:hover {
  flex-grow: 5;
  transform: scale(1.1);
}

nav ul li a:hover {
  color: #666;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  /* background-color: #f5f5f5; */
  background-color: white;
  padding: 5px 10px;
  border-radius: 5%;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  top: 50%;
  right: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
  transform: translateY(-50%);
}

.dropdown-content li {
  top: 0px;
  flex-grow: 1;
}

.dropdown-content li a {
  padding: 12px 16px;
  color: #333;
  font-size: 2.3em;
  display: block;
}

.dropdown-content li a:hover {
  /* background-color: #f1f1f1; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}

.social-links a {
  color: #333;
  font-size: 2.5em;
  margin: 0 30px;
}

.social-links a:hover {
  color: #666;
  transform: scale(1.3);
}

.email {
  color: #333;
  margin-top: 10px;
}

/* Homepage */

.main-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.carousel-wrapper {
  width: 100%;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
}

.hero-text h1 {
  margin: 0;
  font-size: 1.5em;
}

.hero-text p {
  margin: 5px 0 0;
  font-size: 1em;
}

.carousel .slide img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 4.5em;
  cursor: pointer;
  /* color: #333; */
  z-index: 2;
}

.carousel-arrow-prev {
  left: 15px;
  color: white;
  transform: scale(1.1);
}

.carousel-arrow-next {
  right: 15px;
  color: white;
  transform: scale(1.1);
}

.carousel-arrow:hover {
  /* background: rgba(255, 255, 255, 0.7); */
  color: #666;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about p {
  text-decoration: none;
  color: #333;
  font-size: 3.5em;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.content p {
  text-decoration: none;
  color: #333;
  font-size: 2.5em;
  font-family: Arial, sans-serif;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.images {
  display: flex;
  flex-direction: column;
}

.images img {
  width: 600px;
  height: 400px;
  margin: 20px;
}

/* Works */

.container-category {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.container-category p {
  text-decoration: none;
  color: #333;
  font-size: 3.5em;
  font-family: Arial, sans-serif;
  margin-left: 30px;
}

.works {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.work-item {
  position: relative;
  width: 300px;
  height: 300px;
}

.work-item img {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.work-item:hover .work-overlay {
  opacity: 1;
}

.work-details {
  text-align: center;
}

.work-details p {
  margin: 5px 0 0;
  color: white;
  font-size: medium;
}

/* Painting */

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

.painting-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.painting-index {
  position: absolute;
  top: 10px;
  font-size: 18px;
  margin-top: 50px;
  font-size: 25px;
}

.painting-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
}

.painting-navigation .nav-left {
  position: absolute;
  left: 20px;
  cursor: pointer;
  padding: 10px;
}

.painting-navigation .nav-right {
  position: absolute;
  right: 20px;
  cursor: pointer;
  padding: 10px;
}

.zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-right: 30px;
}

.zoom-icon {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.painting-image {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.painting-details {
  text-align: center;
  color: white;
}

.painting-details p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.painting-details a {
  color: #999;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.painting-details a:hover {
  text-decoration: underline;
}

/* Contact */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: white; /* Ensure form background is white */
  color: black;
}

.contact-container p {
  text-decoration: none;
  color: #333;
  font-size: 3.5em;
  font-family: Arial, sans-serif;
}

.contact-square {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.contact-info {
  text-align: left;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 2em;
  margin-bottom: 30px;
}

.contact-form {
  width: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #00aaff; /* Adjust border color */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2em;
}

.contact-form button {
  padding: 10px;
  border: none;
  background-color: #00aaff; /* Adjust button background color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 2em;
}

.contact-form button:hover {
  background-color: #0088cc; /* Adjust button hover background color */
}
